.footer {
  background: var(--bg-2);
  border-top: 1px solid var(--border);
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* logo */

.footer-logo {
  font-size: 1.4rem;
  font-weight: 800;
  color: var(--text);
}

.footer-logo span {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* copyright */

.footer-copy {
  margin-top: 6px;
  font-size: 0.85rem;
  color: var(--text-2);
}

/* nav */

.footer-nav {
  display: flex;
  gap: 26px;
}

.footer-nav a {
  color: var(--text);
  font-size: 0.95rem;
  font-weight: 500;
  transition: 0.2s;
}

.footer-nav a:hover {
  color: var(--primary);
}

@media (max-width: 768px) {

  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .footer-nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
  }

}