//----Fontes

//Oswald
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

//----Geral


//--fonts
$font-family: 'Oswald', sans-serif;
$font-size-0: 1em;
$font-size-1: 1.25em; 
$font-size-2: 1.50em; 
$font-size-3: 1.75em; 
$font-size-4: 3em;
$letter-spacing-1: 4px;

//-font-weight
$weight-1: 200;
$weight-2: 400;
$weight-3: 700;

//--transition
$transition-1: .4s;

//border
$radius: 13px;

//------Light
:root{
    //fonts
    --font-color: #151730;
    --background-1: #cfd2ff;
    --background-2: #aeb4ff;
    --linear-background: linear-gradient(45deg, #cfd2ff, #aeb4ff);

    //menu
    --border-menu: 1px solid #aeb4ff;

    //img
    --me: url('../../images/header/me.png');

    //icons
    --github: url('../../images/icons/github-light.png');
    --linkedin: url('../../images/icons/linkedin-light.png');
    --instagram: url('../../images/icons/instagram-light.png');
    --email: url('../../images/icons/o-email.png');
    --zap: url('../../images/icons/whatsapp.png');

    //wave
    --wave: url('../../images/waves/wave-light.svg');
    --wave-2: url('../../images/waves/wave-2-light.svg');
}

//------Dark
.dark:root{
    //fonts
    --font-color: #cfd2ff;
    --background-1: #151730;
    --background-2: #0f101d;
    --linear-background: linear-gradient(45deg, #151730, #0f101d);

    //menu
    --border-menu: 1px solid #0f101d;

    //img
    --me: url('../../images/header/me-dark.png');

    //icons
    --github: url('../../images/icons/github-dark.png');
    --linkedin: url('../../images/icons/linkedin-dark.png');
    --instagram: url('../../images/icons/instagram-dark.png');
    --email: url('../../images/icons/o-email-dark.png');
    --zap: url('../../images/icons/whatsapp-dark.png');

    //wave
    --wave: url('../../images/waves/wave-dark.svg');
    --wave-2: url('../../images/waves/wave-2-dark.svg');
}
